/* CSS Variables */

:root {
  --primary-dark: hsl(151 37% 9% / 1);
  --primary-light: hsl(34, 86%, 94%);
  --accent-color: hsl(13, 86%, 27%);
  --secondary-dark: hsl(151 37% 24% / 1);
  --secondary-accent: hsl(13, 86%, 37%);
  --tertiary-dark: hsl(72, 21%, 24%);
}

/* Site-wide general styles */

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: "Sorts Mill Goudy", serif;
  letter-spacing: 0.5px;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 0;
  text-transform: lowercase;
}

h1 {
  color: var(--primary-light);
  font-size: 60px;
  padding-bottom: 30px;
}

h2 {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: 40px;
  padding: 20px 0;
  text-align: center;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
}

header p {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  margin: 0;
}

header nav {
  margin: 0 auto;
}

header ul {
  align-items: center;
  color: var(--primary-light);
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-transform: lowercase;
}

header a {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-light);
  border-radius: 5px;
  color: var(--primary-light);
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 12px 0;
  text-decoration: none;
  text-transform: lowercase;
  width: 210px;
}

header a.write-for-wns {
  background: var(--accent-color);
  margin-top: 30px;
}
/* Home page */

header.Home {
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.39), hsla(0, 0%, 0%, 0.55)),
    url("./assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-light);
  line-height: 1.5;
  margin: 0;
  padding: 230px 0;
  text-align: center;
}

header#Home {
  background-color: none;
}

header#Home a.write-for-wns {
  margin-bottom: 60px;
}

article.accent-panel {
  background-color: var(--tertiary-dark);
  color: var(--primary-light);
}

.accent-panel a {
  color: var(--primary-light);
}

main#Learn {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main#Learn article {
  padding: 35px;
}

main#Learn a {
  color: var(--primary-dark);
}

main#Learn .accent-panel a {
  color: var(--primary-light);
}

/* Pseudo classes for links' behavior */

header a:visited {
  color: var(--primary-light);
}

header a:hover {
  background-color: var(--secondary-dark);
  transition: all ease-in-out 150ms;
}

header a.write-for-wns:hover {
  background-color: var(--secondary-accent);
  transition: all ease-in-out 350ms;
}

#Learn a:visited {
  color: var(--primary-dark);
}

#Learn .accent-panel a:visited {
  color: var(--primary-light);
}

/* Prompts and Articles pages */

header#Prompts,
header#Articles {
  align-items: center;
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.39), hsla(0, 0%, 0%, 0.55)),
    url("./assets/hero.jpg");
  background-repeat: no-repeat;
  color: var(--primary-light);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  padding: 100px 0;
  text-align: center;
}

.writing-prompts h1,
.articles h1 {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: 40px;
  padding: 20px 0;
  text-align: center;
}

.articles h2 {
  background-color: var(--tertiary-dark);
  font-size: 34px;
  letter-spacing: 0.5px;
  padding-left: 40px;
}

.contributions {
  background-color: hsla(72, 21%, 24%, 0.7);
}

.public-statements {
  background-color: hsla(72, 21%, 24%, 0.9);
}

/* Utility class */

#Articles .active,
#Prompts .active {
  background-color: var(--secondary-dark);
}

.bold {
  font-weight: 900;
}

/* Pseudo-classes for links' behavior */

#Articles a.write-for-wns:hover,
#Prompts a.write-for-wns:hover {
  background-color: var(--secondary-accent);
}

/* Articles page */

header#Articles {
  background-position: right;
}

section.articles-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  padding: 40px;
}

section.articles-grid iframe {
  border-radius: 12px;
  box-shadow: 3px 3px 4px hsl(0, 3%, 25%);
  max-width: 100%;
}

article div.substack-post-embed {
  margin: 10px auto;
}

/* Prompts page */

ul#prompts-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0 auto;
  max-width: 75%;
  padding: 20px 15px 30px 15px;
}

ul#prompts-container div {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  box-shadow: 3px 3px 4px hsl(0, 3%, 60%);
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 10px;
}

ul#prompts-container p {
  background-color: var(--accent-color);
  color: var(--primary-light);
  font-size: 15px;
  margin: 0;
  padding: 15px;
}

ul#prompts-container div li {
  background-color: hsl(0, 0%, 100%);
  color: var(--primary-dark);
  letter-spacing: normal;
  margin-top: 10px;
  padding: 15px;
}

/* Site-wide jump to top button */

.jump-to-top {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 20px;
}

.jump-to-top a {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-light);
  border-radius: 5px;
  color: var(--primary-light);
  display: block;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  width: 210px;
}

.jump-to-top a:visited {
  color: var(--primary-light);
}

/* Site-wide footer */

footer {
  background-color: hsla(151, 37%, 9%, 0.9);
  color: var(--primary-light);
  font-size: 16px;
  padding-top: 20px;
}

footer ul {
  list-style: square;
  padding-left: 30px;
}

footer a {
  color: var(--primary-light);
}

footer div.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 2;
  margin: 30px 0;
}

footer div section {
  padding: 30px;
}

footer div section.join-wns {
  border-left: 2px solid var(--primary-light);
}

footer div section.join-wns p {
  font-size: 17px;
  text-align: left;
}

footer .attribution {
  align-items: center;
  background-color: var(--primary-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 10px;
}

footer .attribution p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

footer .attribution a {
  padding-left: 15px;
}

footer .attribution div.logo {
  align-items: center;
  display: flex;
}

footer .attribution picture {
  margin: 5px 0 0 15px;
}

footer .attribution img {
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  width: 37px;
  height: auto;
}

/* Media Queries for responsive styling */
/* large screens */

@media only screen and (max-width: 1200px) {
  main#Learn article {
    padding: 15px;
  }
  section.articles-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
  }
  ul#prompts-container {
    max-width: 100%;
  }
}

/* medium-sized screens */

@media only screen and (max-width: 768px) {
  main#Learn {
    display: grid;
    grid-template-columns: 1fr;
  }
  main#Learn article {
    padding: 20px;
  }

  ul#prompts-container {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
  }

  header.Home {
    padding: 110px 0;
  }

  header a {
    width: 180px;
  }

  footer ul {
    padding-left: 15px;
  }
}

/* small screens */

@media only screen and (max-width: 625px) {
  h1 {
    font-size: 54px;
  }

  header ul {
    flex-direction: column;
  }

  header a {
    width: 220px;
  }

  section.articles-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  footer div.contact-us {
    grid-template-columns: 1fr;
  }

  footer div.contact-us section {
    padding: 15px;
  }

  footer div.contact-us section.join-wns {
    border: none;
  }
  footer .attribution p {
    font-size: 14px;
    line-height: 2;
  }

  footer .attribution a {
    padding-left: 0;
  }
}
