/* CSS Variables */

:root {
  --primary-dark: hsl(151 37% 9% / 1);
  --primary-light: hsl(34, 86%, 94%);
  --accent-color: hsl(13, 86%, 27%);
  --secondary-dark: hsl(151 37% 24% / 1);
  --secondary-light: hsl(39 80% 32% / 1);
  --secondary-accent: hsl(13, 86%, 37%);
}

/* Site-wide general styles */

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: "Sorts Mill Goudy", serif;
  letter-spacing: 0.5px;
  margin: 0 auto;
  padding: 0;
}

header p {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 0;
  text-transform: lowercase;
}

h1 {
  font-size: 60px;
  padding-bottom: 30px;
  text-transform: lowercase;
}

h2 {
  background-color: hsla(0, 0%, 12%, 0.9);
  color: var(--primary-light);
  font-size: 40px;
  padding: 20px 0;
  text-align: center;
}

h3 {
  font-size: 28px;
}

main {
  padding: 20px 0;
}

p {
  font-size: 18px;
}

header ul {
  align-items: center;
  color: var(--primary-light);
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

header ul div {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

header li {
  margin: 10px 0;
}

header a {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-light);
  border-radius: 5px;
  color: var(--primary-light);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}

/* Home page */

header.Home {
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.39), hsla(0, 0%, 0%, 0.55)),
    url("./assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-light);
  line-height: 1.5;
  margin: 0;
  padding: 230px 0;
  text-align: center;
}

header.Home a.browse-prompts {
  padding: 12px 15px;
}

header.Home a.learn-more {
  padding: 12px 42px;
}

header.Home a.view-articles {
  padding: 12px 32px;
}

header.Home a.write-for-wns {
  background: var(--accent-color);
  padding: 12px 28px;
}

article.accent-panel {
  background-color: hsl(72, 21%, 24%);
  color: var(--primary-light);
}

.accent-panel a {
  color: var(--primary-light);
}

header#Home {
  background-color: none;
}

main#Learn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main#Learn article {
  padding: 35px;
}

/* Pseudo classes for links' behavior */

header.Home a:visited {
  color: var(--primary-light);
}

header.Home a:hover {
  background-color: var(--secondary-dark);
}

header.Home a.write-for-wns:hover {
  background-color: var(--secondary-accent);
}

#Learn a:visited {
  color: var(--primary-dark);
}

#Learn .accent-panel a:visited {
  color: var(--primary-light);
}

/* Prompts and Articles pages */

header#Prompts,
header#Articles {
  align-items: center;
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.39), hsla(0, 0%, 0%, 0.55)),
    url("./assets/hero.jpg");
  background-repeat: no-repeat;
  color: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  padding: 50px 0 40px 0;
  text-align: center;
}

#Articles h1,
#Prompts h1 {
  color: var(--primary-light);
  text-align: center;
}

#Articles nav,
#Prompts nav {
  padding: 25px 0 50px 0;
}

#Articles nav a,
#Prompts nav a {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-light);
  border-radius: 5px;
  color: var(--primary-light);
  font-weight: 700;
  letter-spacing: 2px;
  padding: 12px 25px;
  text-decoration: none;
}

#Articles a.write-for-wns,
#Prompts a.write-for-wns {
  background: var(--accent-color);
  border: 2px solid var(--primary-light);
  border-radius: 5px;
  color: var(--primary-light);
  font-weight: 700;
  letter-spacing: 2px;
  padding: 12px 28px;
  text-decoration: none;
}

#Articles a.home-nav,
#Prompts a.home-nav {
  padding: 12px 66px;
}

#Articles a.articles-nav,
#Prompts a.articles-nav {
  padding: 12px 58px;
}

#Articles a.prompts-nav,
#Prompts a.prompts-nav {
  padding: 12px 53px;
}

/* Utility class */

#Articles .active,
#Prompts .active {
  background-color: var(--secondary-dark);
}

.bold {
  font-weight: 900;
}

/* Pseudo-classes for links' behavior */

#Articles a.write-for-wns:hover,
#Prompts a.write-for-wns:hover {
  background-color: var(--secondary-accent);
}

/* Articles page */

main.articles-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  max-width: 100%;
  padding: 40px;
}

main.articles-grid iframe {
  border-radius: 12px;
  box-shadow: 3px 3px 4px hsl(0, 3%, 60%);
  max-width: 100%;
}

/* Prompts page */

main.writing-prompts {
  padding: 20px 15px;
}

ul#prompts-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0 auto;
  max-width: 75%;
  padding: 0;
}

ul#prompts-container div {
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  box-shadow: 3px 3px 4px hsl(0, 3%, 60%);
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 10px;
}

ul#prompts-container p {
  background-color: var(--accent-color);
  color: var(--primary-light);
  font-size: 15px;
  margin: 0;
  padding: 15px;
}

ul#prompts-container div li {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  letter-spacing: normal;
  margin-top: 10px;
  padding: 15px;
}

/* Site-wide jump to top button */

.jump-to-top {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.jump-to-top a {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  color: var(--primary-dark);
  display: block;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 12px 36px;
  text-decoration: none;
}

.jump-to-top a:visited {
  color: var(--primary-dark);
}

/* Site-wide footer */

footer {
  background-color: var(--secondary-light);
  color: var(--primary-light);
  font-size: 16px;
  padding-top: 10px;
}

footer ul {
  list-style: square;
  padding-left: 30px;
}

footer a {
  color: var(--primary-light);
}

footer div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 2;
  margin: 30px 0;
}

footer div section {
  padding: 30px;
}

footer div section.join-wns {
  border-left: 2px solid var(--primary-light);
}

footer div section.join-wns p {
  font-size: 17px;
  text-align: left;
}

footer .attribution {
  background-color: hsla(0, 0%, 12%, 0.9);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
}

footer .attribution p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* Media Queries for responsive styling */
/* large screens */

@media only screen and (max-width: 1200px) {
  main#Learn article {
    padding: 15px;
  }
  main.articles-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    padding: 20px;
  }
  ul#prompts-container {
    max-width: 100%;
  }
}

/* medium-sized screens */

@media only screen and (max-width: 768px) {
  main#Learn {
    display: grid;
    grid-template-columns: 1fr;
  }
  main#Learn article {
    padding: 20px;
  }

  ul#prompts-container {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
  }

  header.Home {
    padding: 110px 0;
  }

  footer ul {
    padding-left: 15px;
  }
}

/* small screens */

@media only screen and (max-width: 625px) {
  header ul div {
    flex-direction: column;
  }

  main.articles-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  footer div {
    grid-template-columns: 1fr;
  }

  footer div section {
    padding: 15px;
  }

  footer div section.join-wns {
    border: none;
  }
  footer .attribution p {
    font-size: 14px;
    line-height: 2;
  }
}
